{% extends 'base.html.twig' %}

{% block title %}New MainCategory{% endblock %}

{% block body %}
    <h1>Create new MainCategory</h1>

    {{ include('backoffice/maincategory/_form.html.twig') }}

    <a href="{{ path('app_backoffice_maincategory_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
