

<form method="post" action="{{ path('app_backoffice_wish_delete', {'id': wish.id}) }}" onsubmit="return confirm('Supprimer cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wish.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>

