

<form method="post" action="{{ path('app_backoffice_wish_validate', {'id': wish.id}) }}" onsubmit="return confirm('Valider cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ wish.id) }}">
    <button class="btn btn-success">Valider</button>
</form>

